.stratified_sortition_header {
  border: 0;
}

.stratified_sortition_nav {
  border-bottom: 2px solid #CCC;
  margin-bottom: 20px;
  overflow: visible;

  .import-sample-btn {
    display: inline-flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    position: relative;
    top: 3px;
    border-bottom: 2px solid transparent;
    color: #ccc;
    fill: #ccc;

    button {
      all: unset;
      display: inline-flex;
      gap: 0.4rem;
      align-items: center;
      cursor: pointer;
      padding: 0.5rem 0;
    }
    
    &:hover {
      color: rgba(21, 90, 191, 0.7);
      fill: rgba(21, 90, 191, 0.7);
      border-bottom: 2px solid rgba(21, 90, 191, 0.7);
    }
  }

  .active {
    color: rgba(21, 90, 191, 1);
    fill: rgba(21, 90, 191, 1);
    border-bottom: 2px solid rgba(21, 90, 191, 1);
  }

  button[disabled] {
    cursor: not-allowed !important;
  }
}

.stratum-fields,
.substratum-fields {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  
  .translated-field {
    width: 100%;
  }
}


.example-file-census-container {
  padding:1em;
  background:#e2e5ee;
}

.form-upload-census-container {
  display:flex;
  gap:1em;
}

.last-census-upload {
  color: #6b7280;
}

.chart-row {
  display: flex;
  margin-top: 1em;
  justify-content: space-around;
}

.chart-col {
  flex: 1 1 250px;
  min-width: 220px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.chart-place {
  max-width: 380px;
}

.charts-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.target {
  border-right: 1px solid #6B7280CC;
}

@media (max-width: 900px) {
  .chart-row {
    gap: 2em;
  }
  .chart-col {
    max-width: 100%;
  }
}

.stratified-sortition-stratum {
  button[aria-expanded="true"] {
    .icon-collapse {
      @apply block;
    }

    .icon-expand {
      @apply hidden;
    }
  }

  button[aria-expanded="false"] {
    .icon-collapse {
      @apply hidden;
    }

    .icon-expand {
      @apply block;
    }
  }
}

input[readonly] {
  cursor: not-allowed;
  background-color: #f3f4f6;
}
