.stratum-fields,
.substratum-fields {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  
  .translated-field {
    width: 100%;
  }
}

.import-sample-btn {
  white-space: nowrap;
}

.example-file-census-container {
  padding:1em;
  background:#e2e5ee;
}

.form-upload-census-container {
  display:flex;
  gap:1em;
}

.last-census-upload {
  color: #6b7280;
}

.chart-row {
  display: flex;
  margin-top: 1em;
  justify-content: space-around;
}

.chart-col {
  flex: 1 1 250px;
  min-width: 220px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.chart-place {
  max-width: 380px;
}

.charts-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.target {
  border-right: 1px solid #6B7280CC;
}

@media (max-width: 900px) {
  .chart-row {
    gap: 2em;
  }
  .chart-col {
    max-width: 100%;
  }
}

.stratified-sortition-stratum {
  button[aria-expanded="true"] {
    .icon-collapse {
      @apply block;
    }

    .icon-expand {
      @apply hidden;
    }
  }

  button[aria-expanded="false"] {
    .icon-collapse {
      @apply hidden;
    }

    .icon-expand {
      @apply block;
    }
  }
}
