<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="no-js">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title><%= @title %></title>
    <style>
      <%= File.read(Decidim::StratifiedSortitions::Engine.root.join("app/packs/stylesheets/decidim/stratified_sortitions/charts_pdf.scss")).html_safe %>
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
